<div class="container text-center" data-controller="disable-button">

  <div class="banner_tournages mb-5">
    <h1>Tournages</h1>
  </div>

  <div class="grid-container mb-5">
    <div class="grid-item-1"><%= link_to "Concerts", concerts_path, class: "text-decoration-none text-white"%></div>
    <div class="grid-item-3"><%= link_to "Artistiques", artistiques_path, class: "text-decoration-none text-white"%></div>
    <div class="grid-item-4"><%= link_to "Mon blog", blog_path, class: "text-decoration-none text-white"%></div>
  </div>

  <div class="mb-2">
    <a href="#" class="text-decoration-none" data-action="click->disable-button#toggleStone">
      <div class="banner-voyage-de-stone">
        <h2>Le voyage de Stone</h2>
      </div>
    </a>

    <div class="photo_grid mb-5 d-none" data-disable-button-target="stone">
      <% @tournages.find_by(title: "Le voyage de Stone").photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
  </div>

  <div class="mb-2">
    <a href="#" class="text-decoration-none" data-action="click->disable-button#toggleYetili">
      <div class="banner-yetili">
        <h2>Yetili</h2>
      </div>
    </a>

    <div class="photo_grid mb-5 d-none" data-disable-button-target="yetili">
      <% @tournages.find_by(title: "Yetili").photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
  </div>

</div>
