<div class="container text-center">

  <div class="container text-center">
  <div class="grid-container mb-5">
    <div class="grid-item-1"><%= link_to "Concerts", concerts_path, class: "text-decoration-none text-white"%></div>
    <div class="grid-item-2"><%= link_to "Tournages", tournages_path, class: "text-decoration-none text-white"%></div>
    <div class="grid-item-3"><%= link_to "Artistiques", artistiques_path, class: "text-decoration-none text-white"%></div>
    <div class="grid-item-4"><%= link_to "Mon blog", blog_path, class: "text-decoration-none text-white"%></div>
  </div>

  <h2>Aura Noir</h2>
  <div class="photo_grid mb-5">
    <% @concerts.find_by(title: "Aura Noir").photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <h2>Hail Spirit Noir</h2>
  <div class="photo_grid mb-5">
    <% @concerts.find_by(title: "Hail Spirit Noir").photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <h2>Les feux de Beltane</h2>
  <div class="photo_grid mb-5">
    <% @concerts.find_by(title: "Les feux de Beltane").photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>


</div>
