<div class="container text center">

  <div class="banner_blog mb-5 text-center">
    <h1>Blog</h1>
  </div>

  <div class="grid-container mb-5">
    <div class="grid-item-1"><%= link_to "Concerts", concerts_path, class: "text-decoration-none text-white"%></div>
    <div class="grid-item-2"><%= link_to "Tournages", tournages_path, class: "text-decoration-none text-white"%></div>
    <div class="grid-item-3"><%= link_to "Artistiques", artistiques_path, class: "text-decoration-none text-white"%></div>
  </div>

  <% @posts.each do |post| %>
    <div class="text-center mb-5">
      <h2 class="mb-5"><%=link_to post.title, post_path(post), class:"text-decoration-none text-black" %></h2>
      <% post.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 500, width: 700, crop: :fill %>
      <% end %>
    </div>
  <% end %>
</div>
